[submodule "include/json"]
	path = include/json
	url = https://github.com/nlohmann/json.git
[submodule "include/easylogging"]
	path = include/easylogging
	url = https://github.com/easylogging/easyloggingpp.git
