[submodule "lib/json"]
	path = include/json
	url = https://github.com/nlohmann/json.git
[submodule "include/easylogging"]
	path = include/easylogging
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "test/include/googletest"]
	path = test/include/googletest
	url = https://github.com/google/googletest.git
[submodule "test/bin/luci2"]
	path = test/bin/luci2
	url = https://bitbucket.org/treyerl/luci2.git
